{% extends 'base.html'%}
{% block content%}
    <header>
        <h1>CONSULTAR RENDA</h1>
    </header>
    
    <main>
        <table class="table">
            <thead>
                <tr>
                   <th scope="column">Nome</th>
                   <th scope="column">Valor</th>
                   <th scope="column"></th>
                   <th scope="column"></th>
                </tr>
            </thead>
            {% if rendas %}
            {% for renda in rendas %}
            <tbody>
                <tr>
                    <td>{{renda.nome_renda}}</td>
                    <td>{{renda.valor_renda}}</td>
                    <td><button class="btn btn-primary"><a href="{% url 'alterar_renda' %}" class="text-white text-decoration-none">editar</a></button></td>
                    <td><button class="btn btn-danger">excluir</button></td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            {% endif %}
        </table>
    </main>
{% endblock %}