{% extends 'base.html'%}
{% block content%}
    <header>
        <h1>CONSULTAR RENDA</h1>
    </header>
    
    <main>
        <table>
            <thead>
                <tr>
                   <td>Nome</td>
                   <td>Valor</td>
                   <td></td>
                   <td></td>
                </tr>
            </thead>
            {% for chave, nome, valor in renda.items %}
            <tbody>
                <tr>
                    <td>{{nome_renda}}</td>
                    <td>{{valor}}</td>
                    <td>editar</td>
                    <td>excluir</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </main>
{% endblock %}