{% extends 'base.html'%}
{% block content%}
    <header>
        <h1>CONSULTAR ALUNO</h1>
    </header>
    
    <main>
        <table class="table" >
            <thead>
                <tr>
                   <th scope="col">Nome</th >
                   <th scope="col">Código</th >
                   <th scope="col"></th >
                   <th scope="col"></th >
                   <th scope="col"></th >
                </tr>
            </thead>
            <!-- {% if alunos %}
            {% for aluno in alunos %} -->
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td> teste </td>
                    <td><button class="btn btn-primary"><a href="{% url 'consultar_dados' %}" class="text-white text-decoration-none">consultar</a></button></td>
                    <td><button class="btn btn-primary"><a href="{% url 'alterar_aluno' %}" class="text-white text-decoration-none">alterar</a></button></td>
                    <td><button class="btn btn-primary"></button><a href="">excluir</a></button></td>
                </tr>
            </tbody>
            <!-- {% endfor %}
            {% else %}
            {% endif %} -->
        </table>
    </main>
{% endblock %}