{% extends 'base.html'%}
{% block content%}
    <header>
        <h1>CONSULTAR ALUNO</h1>
    </header>
    
    <main>
        <table>
            <thead>
                <tr>
                   <td>Nome</td>
                   <td>Código</td>
                   <td></td>
                   <td></td>
                   <td></td>
                </tr>
            </thead>
            <!-- {% if alunos %}
            {% for aluno in alunos %} -->
            <tbody>
                <tr>
                    <td> teste </td>
                    <td>1</td>
                    <td><a href="{% url 'consultar_dados' %}">consultar</a></td>
                    <td><a href="{% url 'alterar_aluno' %}">alterar</a></td>
                    <td><a href="">excluir</a></td>
                </tr>
            </tbody>
            <!-- {% endfor %}
            {% else %}
            {% endif %} -->
        </table>
    </main>
{% endblock %}