{% extends 'base.html'%}
{% block content%}
    <header>
        <h1>CONSULTAR RENDA</h1>
    </header>
    
    <main>
        <table>
            <thead>
                <tr>
                   <td>Nome</td>
                   <td>Valor</td>
                   <td></td>
                   <td></td>
                </tr>
            </thead>
            {% if rendas %}
            {% for renda in rendas %}
            <tbody>
                <tr>
                    <td>{{renda.nome_renda}}</td>
                    <td>{{renda.valor_renda}}</td>
                    <td>editar</td>
                    <td>excluir</td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            {% endif %}
        </table>
    </main>

    <body>
        <ul>
            {% for renda in rendas %}
                <li>
                    {{ renda.nome }} - {{ renda.valor }}
                </li>
            {% endfor %}
        </ul>
    </body>
{% endblock %}