<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myTrainer</title>
</head>
<body>
    <header>
        <h1>CONSULTAR RENDA</h1>
    </header>
    
    <main>
        <table>
            <thead>
                <tr>
                   <td>Nome</td>
                   <td>Valor</td>
                   <td></td>
                   <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>teste</td>
                    <td>teste</td>
                    <td>excluir</td>
                    <td>editar</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>