{% extends 'base.html'%}
{% block content%}
    <main>
        <div class="position-absolute top-0 start-50 translate-middle-x">
            <h1>myTrainer</h1>
            <h2>LOGIN</h2>
            <form action="{% url 'menu' %}" method="POST"> {% csrf_token %}
                <label for="email">Email</label>
                <input type="text" id="email" name="'email"><br><br>
                <label for="senha">Senha</label>
                <input type="text" id="senha" name="'senha"><br><br>
                <input type="submit" value="Entrar" class="btn btn-primary">
                <button class="btn btn-primary">
                    <a href="{% url 'cadastro' %}" class="text-white text-decoration-none">Cadastre-se</a>
                </button>
                <button class="btn btn-primary">
                    <a href="{% url 'sobre' %}" class="text-white text-decoration-none">Sobre</a>
                </button>
            </form>
        </div>
    </main>
{% endblock %}