<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myTrainer</title>
</head>
<body>
    <header>
        <h1>myTrainer</h1>
        <h2>LOGIN</h2>
    </header>
    
    <main>
        <form>
            <label for="email">Email</label>
            <input type="text" id="email" name="'email"><br><br>
            <label for="senha">Senha</label>
            <input type="text" id="senha" name="'senha"><br><br>
            <input type="submit" target="{% url 'menu'%}" value="Entrar">
        </form>

        <a href="google.com.br"><li>Esqueci minha senha</li></a>

        <button>
            <a href="{% url 'menu' %}">Entrar</a>
        </button>
        <button>
            <a href="{% url 'cadastro' %}">Cadastre-se</a>
        </button>
        <button>
            <a href="{% url 'sobre' %}">Sobre</a>
        </button>
    </main>
</body>
</html>