<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myTrainer</title>
</head>
<body>
    <header>
        <h1>MENU</h1>
    </header>
    
    <main>
        <ul>
            <a href=""><li>Cadastrar Alunos</li></a>
            <a href=""><li>Consultar Alunos</li></a>
            <a href=""><li>Agendar Aula</li></a>
            <a href=""><li>Consultar Aulas</li></a>
            <a href=""><li>Cadastrar Treino</li></a>
            <a href=""><li>Consultar Treinos</li></a>
            <a href=""><li>Consultar Feedbacks</li></a>
            <a href=""><li>Cadastrar Renda</li></a>
            <a href=""><li>Consultar Renda</li></a>
        </ul>
    </main>
</body>
</html>