<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myTrainer</title>
</head>
<body>
    <header>
        <h1>SOBRE</h1>
    </header>
    
    <main>
        <p>O myTrainer é uma aplicação com foco em auxiliar o profissional de Educação Física no
            gerenciamento de seu negócio. Conta com as funcionalidades básicas, porém essenciais
            para o dia a dia de um treinador, sendo elas:
        </p>
        <ul>
            <li>Gerenciamento de Dados de Aluno</li>
            <li>Agendamento de Aulas</li>
            <li>Gerenciamento de Fichas de Treino</li>
            <li>Gerenciamento de Finanças</li>
        </ul>
    </main>
</body>
</html>