{% extends 'base.html'%}
{% block content%}
    <header>
        <h1 class="position-absolute top-0 start-50 translate-middle-x fs-1">SOBRE</h1>
    </header>
    
    <main>
        <div class="position-absolute top-50 start-50 translate-middle fs-3">
            <p>O myTrainer é uma aplicação com foco em auxiliar o profissional de Educação Física no
                gerenciamento de seu negócio. Conta com as funcionalidades básicas, porém essenciais
                para o dia a dia de um treinador, sendo elas:
            </p>
            <ul>
                <li>Gerenciamento de Dados de Aluno</li>
                <li>Gerenciamento de Finanças</li>
            </ul>
            <p>Desenvolvedores: </p>
            <ul>
                <li>Guilherme Marostica, RA: 2840482011029</li>
                <li>Thiago Silva, RA: 2840482011027</li>
            </ul>
        </div>
    </main>
{% endblock %}